# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

dataset
venv

nohup.out

BEST_checkpoint_flickr30k_5_cap_per_img_5_min_word_freq.pth.tar
checkpoint_flickr30k_5_cap_per_img_5_min_word_freq.pth.tar

